.card {
    background-color: rgb(250, 248, 131);
    width: 275px;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s;
}

.card:hover {
    transform: scale(1.1);
}

.avatar {
    width: 125px;
    border-radius: 25%;
}

.title {
    margin: 10px 0 5px;
    font-size: 20px;
}

.buttonReset {
    width: 122px;
    border-radius: 8px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all 0.5 ease;
}

.buttonReset:hover {
    background-color: darkred;
    color: lightgray;
}