.card {
    width: 300px;
    background-color:  rgba(255, 255, 255, 0.08);
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.avatar {
    width: 125px;
    border-radius: 50%;
}

.title {
    margin: 10px 0 5px;
    font-size: 20px;
}
