.card {
    width: 300px;
    background-color: rgb(234, 207, 220);
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s;
}

.card:hover {
    transform: scale(1.1);
}

.avatar {
    width: 150px;
    border-radius: 10%;
}

.title {
    margin: 10px 0 5px;
    font-size: 20px;
    color: white;
    background: linear-gradient(135deg, #ff67de, #e6f0e8);
}
.character.species{
    color: dark;
}

.status {
    background: linear-gradient(135deg, #4a174a, #facaeb);
    border-radius: 5px;
    margin: 10px;
}

.species {
    background: linear-gradient(135deg, #4a174a, #facaeb);
    border-radius: 5px;
   margin: 10px;
}